*
    box-sizing: border-box
// THE DEFAULT FONT-SIZE SET TO 10PX (62.5%) FOR COMFORTABLE REM USAGE
html
    scroll-behavior: smooth
    font-size: 62.5%

// body

.container
    max-width: 116rem
    margin: 0 auto