body
    font-family: 'Mulish', sans-serif
    font-weight: 600
    font-size: $font-size-paragraph
    color: $grey
    line-height: 2.9rem

.left-wrapper
    &__title
        color: $black
        font-size: $font-size-h1
        font-weight: 800
        line-height: 6rem
        margin-bottom: 1.5rem
    &__text
        margin-bottom: 4rem