.hero-section
    padding: 1rem 0rem 9rem 0rem
    background-color: $white
    height: 100vh
    &__nav-container
        height: 10rem
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
    &__content-container
        display: flex
        gap: 7rem
        align-items: center

.left-wrapper
    max-width: 50rem

.right-wrapper
    &__image
        max-width: 60rem
