@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800&display=swap");
/* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 21, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 25, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_reset.scss */
html {
  height: 100%;
}

/* line 28, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_reset.scss */
body {
  line-height: 1;
}

/* line 31, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
/* line 11, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
/* line 23, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
/* line 31, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 40, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 53, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 64, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/* line 76, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 85, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 95, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 105, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
/* line 116, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 125, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 133, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 137, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
/* line 148, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 160, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 176, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 186, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/* line 195, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 206, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 218, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 229, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 240, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 253, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
/* line 261, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
/* line 270, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 280, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 290, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/* line 299, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 308, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
/* line 320, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 328, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
/* line 339, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
/* line 347, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_normalize.scss */
[hidden] {
  display: none;
}

/* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_base.sass */
* {
  box-sizing: border-box;
}

/* line 4, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_base.sass */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* line 8, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_base.sass */
.container {
  max-width: 116rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1199px) {
  /* line 8, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_base.sass */
  .container {
    max-width: 96rem;
  }
}

@media only screen and (max-width: 991px) {
  /* line 8, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_base.sass */
  .container {
    max-width: 72rem;
  }
}

@media only screen and (max-width: 767px) {
  /* line 8, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_base.sass */
  .container {
    max-width: 54rem;
  }
}

@media only screen and (max-width: 575px) {
  /* line 8, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_base.sass */
  .container {
    max-width: 90%;
  }
}

/* line 20, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_base.sass */
.three-clmns-container {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 991px) {
  /* line 20, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_base.sass */
  .three-clmns-container {
    flex-direction: column;
    align-items: center;
  }
}

/* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_typography.sass */
body {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #6D7D8B;
  line-height: 2.9rem;
}

/* line 9, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_typography.sass */
.left-wrapper__title {
  color: #4A4A49;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 6rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1199px) {
  /* line 9, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_typography.sass */
  .left-wrapper__title {
    font-size: 4.3rem;
  }
}

/* line 17, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_typography.sass */
.left-wrapper__text {
  margin-bottom: 3rem;
}

/* line 20, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_typography.sass */
.h3-heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 2.5rem;
  letter-spacing: .7rem;
}

@media only screen and (max-width: 575px) {
  /* line 20, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_typography.sass */
  .h3-heading {
    font-size: 1.8rem;
  }
}

/* line 28, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_typography.sass */
.h3-heading_red {
  color: #C55E6F;
}

@media only screen and (max-width: 1199px) {
  /* line 28, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_typography.sass */
  .h3-heading_red {
    text-align: center;
  }
}

/* line 33, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_typography.sass */
.h2-heading {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 5rem;
}

@media only screen and (max-width: 575px) {
  /* line 33, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_typography.sass */
  .h2-heading {
    font-size: 3.3rem;
  }
}

/* line 40, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_typography.sass */
.h2-heading_black {
  color: #4A4A49;
}

@media only screen and (max-width: 1199px) {
  /* line 40, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_typography.sass */
  .h2-heading_black {
    text-align: center;
  }
}

/* line 45, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_typography.sass */
.h4-heading {
  font-size: 2.2rem;
  color: #4A4A49;
}

/* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_utilities.sass */
.text-align-center {
  text-align: center;
}

/* line 4, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_utilities.sass */
.margin-bottom-15px {
  margin-bottom: 1.5rem;
}

/* line 7, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_utilities.sass */
.margin-bottom-30px {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 575px) {
  /* line 7, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_utilities.sass */
  .margin-bottom-30px {
    margin-bottom: 1.5rem;
  }
}

/* line 12, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_utilities.sass */
.margin-bottom-40px {
  margin-bottom: 4rem;
}

/* line 15, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_utilities.sass */
.margin-bottom-60px {
  margin-bottom: 6rem;
}

@media only screen and (max-width: 575px) {
  /* line 15, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_utilities.sass */
  .margin-bottom-60px {
    margin-bottom: 4rem;
  }
}

/* line 20, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_utilities.sass */
.margin-bottom-80px {
  margin-bottom: 8rem;
}

@media only screen and (max-width: 991px) {
  /* line 20, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_utilities.sass */
  .margin-bottom-80px {
    margin-bottom: 5rem;
  }
}

/* line 25, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/base/_utilities.sass */
.margin-bottom-100px {
  margin-bottom: 10rem;
}

/* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_buttons.sass */
.btn {
  padding: 1rem 3rem;
  color: #FFFFFF;
  background-color: #C55E6F;
  text-decoration: none;
  border-radius: .6rem;
  transition: .3s all;
  display: inline-block;
}

/* line 9, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_buttons.sass */
.btn:hover {
  filter: brightness(110%);
  transform: translateY(-0.1rem);
}

/* line 12, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_buttons.sass */
.btn_secondary {
  padding: .5rem 4rem;
  color: #C55E6F;
  background-color: transparent;
  border: 2px solid #C55E6F;
}

/* line 17, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_buttons.sass */
.btn_secondary:hover {
  filter: brightness(120%);
}

/* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_service-card.sass */
.service-card {
  width: 36.6rem;
  height: 40rem;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  padding-top: 4rem;
}

@media only screen and (max-width: 1199px) {
  /* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_service-card.sass */
  .service-card {
    width: 30rem;
    padding-top: 6rem;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 991px) {
  /* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_service-card.sass */
  .service-card {
    width: 60rem;
    height: 30rem;
  }
}

@media only screen and (max-width: 767px) {
  /* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_service-card.sass */
  .service-card {
    width: 48rem;
  }
}

@media only screen and (max-width: 575px) {
  /* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_service-card.sass */
  .service-card {
    width: 32rem;
  }
}

/* line 18, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_service-card.sass */
.service-card_1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/polygraphy.jpg") center/cover no-repeat;
}

/* line 20, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_service-card.sass */
.service-card_2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/light-box.jpg") center/cover no-repeat;
}

/* line 22, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_service-card.sass */
.service-card_3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/souvenirs.jpg") center/cover no-repeat;
}

/* line 24, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_service-card.sass */
.service-card__title {
  text-align: center;
  letter-spacing: 0;
  font-size: 2.4rem;
}

@media only screen and (max-width: 991px) {
  /* line 24, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_service-card.sass */
  .service-card__title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 575px) {
  /* line 24, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_service-card.sass */
  .service-card__title {
    font-size: 2.4rem;
  }
}

/* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_benefit-card.sass */
.benefit-card {
  max-width: 33rem;
}

@media only screen and (max-width: 1199px) {
  /* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_benefit-card.sass */
  .benefit-card {
    max-width: 31rem;
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 991px) {
  /* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_benefit-card.sass */
  .benefit-card {
    max-width: 50rem;
  }
}

/* line 8, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_benefit-card.sass */
.benefit-card__icon {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 1199px) {
  /* line 8, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_benefit-card.sass */
  .benefit-card__icon {
    margin-bottom: 2rem;
  }
}

/* line 13, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_benefit-card.sass */
.benefit-card__title {
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1199px) {
  /* line 13, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_benefit-card.sass */
  .benefit-card__title {
    font-size: 2.5rem;
  }
}

/* line 17, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_benefit-card.sass */
.benefit-card__title:hover {
  color: #C55E6F;
  cursor: default;
}

@media only screen and (max-width: 1199px) {
  /* line 20, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_benefit-card.sass */
  .benefit-card__text {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 575px) {
  /* line 20, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_benefit-card.sass */
  .benefit-card__text {
    font-size: 1.6rem;
  }
}

/* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
.contact-info {
  padding-left: 4.5rem;
  color: #FFFFFF;
  background-color: #C55E6F;
  width: 37rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media only screen and (max-width: 991px) {
  /* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
  .contact-info {
    flex-direction: row;
    width: 60rem;
    height: 18rem;
    margin-bottom: 3rem;
    margin-top: -2rem;
    padding: 4rem 2rem;
  }
}

@media only screen and (max-width: 767px) {
  /* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
  .contact-info {
    width: 50rem;
  }
}

@media only screen and (max-width: 575px) {
  /* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
  .contact-info {
    width: 30rem;
    height: 35rem;
    flex-direction: column;
  }
}

@media only screen and (max-width: 991px) {
  /* line 23, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
  .contact-info__unit {
    width: 17rem;
    margin-bottom: 1.5rem;
  }
}

/* line 27, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
.contact-info__title {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 991px) {
  /* line 27, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
  .contact-info__title {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 767px) {
  /* line 27, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
  .contact-info__title {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
  }
}

/* line 36, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
.contact-info__title::before {
  content: "";
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin-right: 1.5rem;
}

@media only screen and (max-width: 991px) {
  /* line 36, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
  .contact-info__title::before {
    width: 3rem;
    height: 3rem;
  }
}

/* line 45, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
.contact-info__title_1::before {
  background: url("../icons/address.svg") center/cover no-repeat;
}

/* line 47, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
.contact-info__title_2::before {
  background: url("../icons/envelope.svg") center/cover no-repeat;
}

/* line 49, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
.contact-info__title_3::before {
  background: url("../icons/phone.svg") center/cover no-repeat;
}

/* line 51, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
.contact-info__text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 25px;
}

@media only screen and (max-width: 991px) {
  /* line 51, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
  .contact-info__text {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 767px) {
  /* line 51, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
  .contact-info__text {
    font-size: 1.4rem;
  }
}

/* line 59, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
.contact-info__email {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.8rem;
}

@media only screen and (max-width: 991px) {
  /* line 59, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
  .contact-info__email {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 767px) {
  /* line 59, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
  .contact-info__email {
    font-size: 1.4rem;
  }
}

/* line 67, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/components/_contact-info.sass */
.contact-info__email:hover {
  filter: brightness(90%);
}

/* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_header.sass */
.header__logo {
  width: 21.8rem;
}

@media only screen and (max-width: 991px) {
  /* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_header.sass */
  .header__logo {
    width: 18rem;
  }
}

/* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_footer.sass */
.footer {
  background-color: #FFFFFF;
  padding: 9rem 0rem 3rem 0rem;
}

@media only screen and (max-width: 1199px) {
  /* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_footer.sass */
  .footer {
    padding: 5rem 0rem 3rem 0rem;
  }
}

/* line 6, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_footer.sass */
.footer__logo {
  width: 21.8rem;
}

@media only screen and (max-width: 991px) {
  /* line 6, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_footer.sass */
  .footer__logo {
    width: 18rem;
  }
}

/* line 10, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_footer.sass */
.footer__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 767px) {
  /* line 10, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_footer.sass */
  .footer__container {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  /* line 16, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_footer.sass */
  .footer__logo-container {
    margin: 0 auto;
  }
}

/* line 19, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_footer.sass */
.footer__nav {
  display: flex;
  align-items: center;
}

/* line 22, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_footer.sass */
.footer__credentials-container {
  text-align: center;
}

/* line 24, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_footer.sass */
.footer__credentials {
  font-weight: 400;
  font-size: 1.6rem;
}

/* line 27, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_footer.sass */
.footer__privacy-policy {
  text-align: center;
  text-decoration: none;
  color: #6D7D8B;
}

@media only screen and (max-width: 991px) {
  /* line 27, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_footer.sass */
  .footer__privacy-policy {
    font-size: 1.6rem;
  }
}

/* line 33, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_footer.sass */
.footer__privacy-policy:hover {
  color: #C55E6F;
}

/* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_navigation.sass */
.nav-menu {
  transition: 1s all;
}

@media only screen and (max-width: 767px) {
  /* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_navigation.sass */
  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;
    background: #C55E6F;
    z-index: 20;
  }
}

@media only screen and (max-width: 767px) {
  /* line 12, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_navigation.sass */
  .nav-menu_active {
    right: 0;
  }
}

/* line 16, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_navigation.sass */
.nav-menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

@media only screen and (max-width: 991px) {
  /* line 16, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_navigation.sass */
  .nav-menu__list {
    gap: 2.3rem;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 767px) {
  /* line 16, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_navigation.sass */
  .nav-menu__list {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
}

/* line 29, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_navigation.sass */
.nav-menu__link {
  display: inline-block;
  text-decoration: none;
  color: #6D7D8B;
}

/* line 33, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_navigation.sass */
.nav-menu__link:hover {
  color: #C55E6F;
  transform: translateY(-0.1rem) scale(1.03);
}

@media only screen and (max-width: 767px) {
  /* line 29, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_navigation.sass */
  .nav-menu__link {
    font-size: 2rem;
    color: #FFFFFF;
  }
}

@media only screen and (max-width: 767px) {
  /* line 39, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_navigation.sass */
  .nav-menu__btn {
    font-size: 1.8rem;
    padding: 1rem 3rem;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF;
  }
  /* line 46, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_navigation.sass */
  .nav-menu__btn:hover {
    filter: brightness(120%);
  }
}

@media only screen and (max-width: 767px) {
  /* line 49, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_navigation.sass */
  .hamburger {
    width: 3rem;
    position: fixed;
    top: 5rem;
    right: 3rem;
    height: 1.4rem;
    z-index: 30;
  }
}

@media only screen and (max-width: 767px) {
  /* line 57, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_navigation.sass */
  .hamburger span {
    height: 2px;
    width: 100%;
    display: block;
    background: #4A4A49;
    margin-bottom: 4px;
    transition: 1s all;
  }
  /* line 65, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_navigation.sass */
  .hamburger span:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  /* line 70, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_navigation.sass */
  .hamburger_active span:nth-child(1) {
    transform: translateY(6px) rotate(-45deg);
  }
}

@media only screen and (max-width: 767px) {
  /* line 73, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_navigation.sass */
  .hamburger_active span:nth-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  /* line 76, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/layout/_navigation.sass */
  .hamburger_active span:nth-child(3) {
    transform: rotate(45deg);
  }
}

/* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.hero-section {
  padding: 1rem 0rem 9rem 0rem;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 991px) {
  /* line 1, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .hero-section {
    padding: 1rem 0rem 5rem 0rem;
  }
}

/* line 6, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.hero-section__nav-container {
  height: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* line 12, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.hero-section__content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 991px) {
  /* line 12, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .hero-section__content-container {
    flex-direction: column-reverse;
  }
}

/* line 18, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.left-wrapper {
  max-width: 50rem;
}

@media only screen and (max-width: 1199px) {
  /* line 18, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .left-wrapper {
    max-width: 40rem;
  }
}

@media only screen and (max-width: 991px) {
  /* line 18, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .left-wrapper {
    text-align: center;
    max-width: 55rem;
  }
}

/* line 25, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.left-wrapper__title {
  line-height: 4rem;
  margin-top: 0;
}

@media only screen and (max-width: 991px) {
  /* line 25, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .left-wrapper__title {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 575px) {
  /* line 25, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .left-wrapper__title {
    font-size: 3.4rem;
  }
}

/* line 33, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.right-wrapper__image {
  max-width: 60rem;
  height: auto;
}

@media only screen and (max-width: 1199px) {
  /* line 33, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .right-wrapper__image {
    max-width: 50rem;
  }
}

@media only screen and (max-width: 991px) {
  /* line 33, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .right-wrapper__image {
    max-width: 35rem;
    margin-top: -3rem;
  }
}

/* line 42, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.second-section {
  padding: 9rem 0rem;
  background-color: #C55E6F;
  color: #FFFFFF;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  /* line 42, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .second-section {
    padding: 6rem 0rem;
  }
}

@media only screen and (max-width: 575px) {
  /* line 42, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .second-section {
    padding: 3rem 0rem;
  }
}

/* line 51, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.second-section__container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  /* line 51, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .second-section__container {
    text-align: center;
  }
}

/* line 56, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.second-section__left-wrapper {
  width: 70%;
  margin-right: 16rem;
}

@media only screen and (max-width: 991px) {
  /* line 56, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .second-section__left-wrapper {
    margin-right: 8rem;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  /* line 56, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .second-section__left-wrapper {
    margin-right: 0;
  }
}

/* line 64, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.second-section__text-box {
  max-width: 56.5rem;
}

@media only screen and (max-width: 991px) {
  /* line 64, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .second-section__text-box {
    width: 35rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 575px) {
  /* line 64, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .second-section__text-box {
    width: 30rem;
  }
}

/* line 71, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.second-section__text {
  font-weight: 400;
}

@media only screen and (max-width: 575px) {
  /* line 71, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .second-section__text {
    font-size: 1.6rem;
  }
}

/* line 75, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.second-section__right-wrapper {
  width: 60rem;
  position: relative;
}

@media only screen and (max-width: 991px) {
  /* line 75, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .second-section__right-wrapper {
    width: 50rem;
  }
}

@media only screen and (max-width: 767px) {
  /* line 75, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .second-section__right-wrapper {
    display: none;
  }
}

/* line 83, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.second-section__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 120%;
}

/* line 89, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.third-section {
  padding: 8rem 0rem 9rem 0rem;
}

@media only screen and (max-width: 991px) {
  /* line 89, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .third-section {
    padding: 6rem 0rem;
  }
}

@media only screen and (max-width: 575px) {
  /* line 89, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .third-section {
    padding: 3rem 0rem;
  }
}

/* line 96, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.fourth-section {
  padding: 6rem 0rem;
  background-color: #F5F7FB;
}

@media only screen and (max-width: 1199px) {
  /* line 96, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .fourth-section {
    padding: 6rem 0rem 0rem 0rem;
  }
}

@media only screen and (max-width: 991px) {
  /* line 96, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .fourth-section {
    padding: 4rem 0rem;
  }
}

/* line 104, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.fifth-section {
  background-color: #F5F7FB;
  padding: 6rem 0rem 8rem 0rem;
}

@media only screen and (max-width: 1199px) {
  /* line 104, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .fifth-section {
    padding: 2rem 0rem 8rem 0rem;
  }
}

@media only screen and (max-width: 991px) {
  /* line 104, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .fifth-section {
    padding: 1rem 0rem 4rem 0rem;
  }
}

/* line 111, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.fifth-section__contacts-box {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 991px) {
  /* line 111, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .fifth-section__contacts-box {
    flex-direction: column-reverse;
    align-items: center;
  }
}

/* line 117, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
.fifth-section__map {
  width: 750px;
  height: 400px;
}

@media only screen and (max-width: 1199px) {
  /* line 117, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .fifth-section__map {
    width: 550px;
  }
}

@media only screen and (max-width: 991px) {
  /* line 117, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .fifth-section__map {
    width: 600px;
    height: 300px;
  }
}

@media only screen and (max-width: 767px) {
  /* line 117, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .fifth-section__map {
    width: 50rem;
  }
}

@media only screen and (max-width: 575px) {
  /* line 117, ../../../../../Users/dianadiaz/repos/kursiv/src/sass/pages/_home.sass */
  .fifth-section__map {
    width: 30rem;
  }
}

/*# sourceMappingURL=styles.css.map */