.nav-menu
    transition: .4s all
    &__list
        display: flex
        flex-direction: row
        align-items: center
        gap: 4rem
    &__link
        display: inline-block
        text-decoration: none
        color: $grey
        &:hover
            color: $bordeaux
            transform: translateY(-.1rem) scale(1.03)
